<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.proj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Data.Peer2PhotoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".ModeChoosing"></activity>
        <activity
            android:name=".LogView"
            android:label="@string/title_activity_log_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AlbumView"
            android:label="@string/title_activity_album_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AlbumView_Wifi"
            android:label="@string/title_activity_album_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FindUsers"
            android:label="@string/title_activity_find_users"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CacheSize"
            android:label="@string/title_activity_find_users"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".HomePage_Wifi"
            android:label="@string/title_activity_home_page"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">

            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-ktxcdvzt610l2ao" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />
    </application>

</manifest>